<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csl.springcloud.dao.EmployeeDao">
    <select id="getEmployeeByFirstName" resultType="com.csl.springcloud.Vo.EmployeeVo" parameterType="String">
        -- 员工信息查询api
        SELECT he.first_name,
               last_name,
               email,
               sex,
               phone_num,
               hd.department_code,
               hd.department_name,
               concat(hl.province, hl.city, hl.address) detail_address,
               hj.job_name
        FROM hand_jobs hj
                 RIGHT JOIN hand_employees he on hj.employee_id = he.employee_id
                 LEFT JOIN hand_departments hd on he.department_id = hd.department_id
                 LEFT JOIN hand_locations hl on hd.location_id = hl.location_id
        WHERE first_name like concat('%', #{firstName}, '%')
           or last_name like concat('%', #{firstName}, '%')


    </select>

<!--    getEmployeeByDeptCode-->
    <select id="getEmployeeByDeptCode" resultType="com.csl.springcloud.Vo.EmployeeVo" parameterType="String">
        -- 员工信息查询api
        SELECT he.first_name,
               last_name,
               email,
               sex,
               phone_num,
               hd.department_code,
               hd.department_name,
               concat(hl.province, hl.city, hl.address) detail_address,
               hj.job_name
        FROM hand_jobs hj
                 RIGHT JOIN hand_employees he on hj.employee_id = he.employee_id
                 LEFT JOIN hand_departments hd on he.department_id = hd.department_id
                 LEFT JOIN hand_locations hl on hd.location_id = hl.location_id
        WHERE department_code=#{deptCode}

    </select>

    <update id="updateEmployeeById" parameterType="com.csl.springcloud.entities.Employee">
        UPDATE hand_employees
        <set>
            <if test="employeeNum != null and employeeNum !=''">employee_num=#{employeeNum},</if>
            <if test="firstName != null and firstName !=''">first_name=#{firstName},</if>
            <if test="lastName != null and lastName !=''">last_name=#{lastName},</if>
            <if test="sex != null and sex !=''">sex=#{sex},</if>
            <if test="phoneNum != null and phoneNum !=''">phone_num=#{phoneNum},</if>
            <if test="email != null and email !=''">email=#{email},</if>
            <if test="hireDate != null">hire_date=#{hireDate},</if>
            <if test="departmentId != null">department_id=#{departmentId},</if>
            <if test="statusCode != null and statusCode !=''">status_code=#{statusCode}</if>
            WHERE employee_id = #{employeeId}
        </set>
    </update>

    <insert id="addEmployee" useGeneratedKeys="true" keyProperty="employeeId" keyColumn="employee_id"
            parameterType="com.csl.springcloud.entities.Employee">
        insert into hand_employees(employee_num, first_name, last_name, sex, phone_num, email, hire_date, department_id,
                                   status_code)
        values (#{employeeNum}, #{firstName}, #{lastName}, #{sex}, #{phoneNum}, #{email}, #{hireDate}, #{departmentId},
                #{statusCode})
    </insert>

    <delete id="deleteEmployById">
        delete
        from hand_employees
        where employee_id = #{employeeId}
    </delete>


</mapper>